<div class="section">
  <div class="container">
    <h1 class='title'> Users Details<h1>
        <h2 class='subtitle'>
          Name:
          <%= @user.name %>
        </h2>
        <h2 class='subtitle'>
          Email:
          <%= @user.email %>
        </h2>

        <h2>Events:</h2>
        <% @user.attended_events.each do |attend_event| %>
          <%= attend_event.title %>
          <br>
        <% end %> 

  </div>
</div>