<div class="section">
    <div class="container">
        <h1 class='title'>Show All Events<h1>
                <div class="columns is-mobile is-multiline">
                    <% @event.each do |event|%>
                    <div class="column has-background-primary">
                        <a href="<%= event_path(event.id) %>">
                            <p><%= event.title%> by <%= event.creator.name%></p>
                            <p><%= event.date%></p>
                        </a>
                    </div>
                    <br>
                    <br>
                    <%end%>
                </div>
    </div>
</div>